.trade {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  margin: 8% 3%;
  border: solid 3px #000;
  border-radius: 10px;
}

.entryDate, .symbol, .timeframe, .entrySignal, .direction, .shares, .entryPrice, .originalStop, .target, .riskAmount, .exitDate, .exitSignal, .exitPrice, .profitLoss, .comments {
  color: #000;
  font-size: 20px;
  padding: 1rem;
  text-align: left;
}

.card {
	margin: 8% 3%;
	border: solid 3px #000;
	border-radius: 10px;
}
