.trades {
  list-style: none;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 1.5rem;
  justify-content: center;
  text-align: left;
}

.noPostsYet {
  text-align: center;
  color: red;
  font-size: 2.5rem;
}
  

  