.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background: url(../src/assets/images/trading-platform.jpg) center/cover;
  width: 90vw;
  height: 100vh;
  margin: 5rem auto;
}




